$black-pearl: #1b2733;
$blue-bayoux: #657383;
$true-blue: #0070e0;
$solitude-blue: #e4edf5;
$whisper-blue: #f6f7fb;
$sunset-orange: #ff4949;
$malachite-green: #13ce66;
$yellow-text: #ffc66d;
$black: #333;
$white: #fff;
$critical-background: rgba(253, 86, 63, .06);
$critical-border-color: rgba(253, 86, 63, .7);
$success-background: rgba(48, 202, 120, .1);
$light-green: #30ca78;
$bg-gray: #dcdcdc;
$red-bg: rgba(255, 167, 167, .18);
$red-border: $sunset-orange;
$green-bg: #e8f7ed;
$green-border: $malachite-green;
$yellow-bg: rgba(252, 245, 225, .84);
$yellow-border: #e49c14;
